  :root {
    --primary-color: #ecda66;
    --secondary-color: #431469;
    --tertiary-color: #1b7eff;
  }
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: var(--secondary-color);
    font-family: sans-serif;
    background-color: #f0ebd1;
}

/* HEADER */
header {
    display: flex;
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap; 
    top: 0;
    background-image: url('../images/hero.jpg');
    opacity: .9;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 55px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(102, 27, 68, 0.459);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 20px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 70px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(102, 27, 68, 0.459);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: #431469;
    border-radius: 15px;
    text-shadow: none;
  }
/* HEADER ENDS*/

/* HERO */
  .hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;  
    height: 500px;
    opacity: .5;
  }

  .hero-text {
    width: 60%;
    text-align: center;
    margin: 3.5%;
    color: var(--secondary-color);
    line-height: 1.2;
    font-style: italic;
    font-size: 36px;
    background-color:  rgb(252,225,56,.9)
  }
/* HERO ENDS */

/* BIO */
.bio {  
  padding: 20px 35px;
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.bio-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bio-img {
  flex: 1 12%;
  padding: 40px;
}

.bio-text {
  flex: 2 40%;
  color: var(--secondary-color);
  font-size: 18px;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
}
/* BIO ENDS */

/* PORTFOLIO GRID */
  .portfolio {
    padding: 20px 35px;
    margin: 50px auto; 
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio h2 {
    float: center;
  }

  .portfolio-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    padding-left: 30px;
  }

  .portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    font-size: 1rem;
    grid-auto-flow: dense;
    width: 100%;
    height: 400px;
    float: center;
}

  .portfolio-grid-item:hover {
    color: var(--tertiary-color);
}

  .portfolio-grid-item:after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    content: '';
    z-index: 0;
  }

  .portfolio-grid-item {
    display: flex;
    border: solid;
    color: var(--primary-color);
    box-shadow: 0 0 10px rgba(102, 27, 68, 0.459);
    
  }

  .portfolio-grid-item:nth-child(3n) {
    grid-column: 2;
  }

  .box1 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 3; 
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    background-position: center;
  }

  .box1:hover {
    color: var(--tertiary-color);
}

  .box1:after {
    position: absolute;
    top: 2.1em;
    left: 0.9em;
    width: 2px;
    height: calc(100% - 2em);
    content: '';
    z-index: 0;
  }

  .box1 a {
    display: block;
    height: 25%;
    width: 40%;
    text-decoration: none;
  }
  
  .box-text h3 {
    font-size: 25px;
    margin-top: 10px;
    background-color: var(--primary-color);
    opacity: .5;
    color: var(--secondary-color);
  }

  .box-text h4 {
    font-size: 20px;
    background-color: var(--primary-color);
    opacity: .5;
    color: var(--secondary-color);
  }

  .box2 {
    background-image: url("../images/box2.jpg");
    background-size: cover;
  }

  .box3 {
    background-image: url("../images/box3.jpg");
    background-size: cover;
  }

  .box4 {
    background-image: url("../images/box4.jpg");
    background-size: cover;
  }

  .box5 {
    background-image: url("../images/box5.jpg");
    background-size: cover;
  }
  /* PORTFOLIO GRID ENDS */

  /* CONTACT ME */
  .contact-form {
    padding: 20px 20px;
    margin: 0 auto; 
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .contact-form a {
    text-decoration: underline;
    color: var(--secondary-color);
  }

  .contact-form nav {
    margin: 10px 0;
  }

  .contact-form nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .contact-form nav ul li a {
    padding: 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(102, 27, 68, 0.459);
  }
/* CONTACT ME ENDS */

/* UTILITIES */
  .flex-row {
    display: flex;
}
  .flex-graph {
    display: flexbox;
  }

/* SECTION TITLE STYLES START */
  .section-title {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(102, 27, 68, 0.459); 
    flex: 1 30%;
    text-align: right;
    margin-bottom: 20px;
    padding: 30px 15px 0 0;
    border-right: 3px solid;
    width: 20%;
    display: inline-block;
    flex-wrap: unset;
  }
      
    .border {
      border-color: #39a6b2;
    }

  .border {
    border-color: var(--primary-color);
  }
/* SECTION TITLE STYLES END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */  
@media screen and (max-width: 575px) {
    .header {
      size: 100%;
    }

    .section-title {
      width: 95%;
    }
  
    .bio-text {
      margin-left: 0;
      text-align: center;
      flex-wrap: wrap;
    }

    .bio-img {
      padding: none;
      box-sizing: none;
    }
  
    .bio-info {
      flex: 0 100%;
      width: 80%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
    
    .contact-form {
      order: 3;
    }
  }

  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }

    .box-text h3 {
      font-size: 18px;
    }

    .box-text h4 {
      font-size: 16px;
    }
  }
  /* MEDIA QUERY FOR SMALLER SCREENS */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
      color: var(--secondary-color);
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 24px;
    }
    .hero {
      height: 300px;
    }
    .hero-text {
      font-size: 28px;
      width: 40%;
    }
    
    .section-title {
      width: 80%;
      border-color: none;
    }

    .portfolio h2 {
      text-align: left;
    }
  
  
    .box-text {
      font-size: 18px;
    }

    .bio, .portfolio, .contact-form {
      flex: 0 70%;
    }
  
    .contact-form nav ul li a {
      font-size: 20px;
  }
  }

  /* MEDIA QUERY FOR SMALLER SCREENS ENDS*/